In [8]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [9]:
import pandas as pd

In [13]:
df1 = pd.read_csv('iris.CSV')
path = df1
print(df1)

     sepal_length  sepal_width  petal_length  petal_width    variety  variety_num
0             5.1          3.5           1.4          0.2     Setosa            0
1             4.9          3.0           1.4          0.2     Setosa            0
2             4.7          3.2           1.3          0.2     Setosa            0
3             4.6          3.1           1.5          0.2     Setosa            0
4             5.0          3.6           1.4          0.2     Setosa            0
..            ...          ...           ...          ...        ...          ...
145           6.7          3.0           5.2          2.3  Virginica            2
146           6.3          2.5           5.0          1.9  Virginica            2
147           6.5          3.0           5.2          2.0  Virginica            2
148           6.2          3.4           5.4          2.3  Virginica            2
149           5.9          3.0           5.1          1.8  Virginica            2

[150 rows x 6 columns]

In [20]:
from pandas import read_csv
from pandas import set_option
path = df1
set_option('display.width', 100)
set_option('precision', 2)

df1 = pd.read_csv('iris.csv')
article_read = pd.read_csv('iris.csv') 
path = df1
names = ['sepal_length', 'sepal_width', 'petal_length','petal_width']

print('Количествово строк и столбцов:', df1.shape)
print( )
print(df1.describe())

Количествово строк и столбцов: (150, 6)

       sepal_length  sepal_width  petal_length  petal_width  variety_num
count        150.00       150.00        150.00       150.00       150.00
mean           5.84         3.06          3.76         1.20         1.00
std            0.83         0.44          1.77         0.76         0.82
min            4.30         2.00          1.00         0.10         0.00
25%            5.10         2.80          1.60         0.30         0.00
50%            5.80         3.00          4.35         1.30         1.00
75%            6.40         3.30          5.10         1.80         2.00
max            7.90         4.40          6.90         2.50         2.00

In [24]:
result = path.describe()
result

       sepal.length  sepal.width  petal.length  petal.width
count        150.00       150.00        150.00       150.00
mean           5.84         3.06          3.76         1.20
std            0.83         0.44          1.77         0.76
min            4.30         2.00          1.00         0.10
25%            5.10         2.80          1.60         0.30
50%            5.80         3.00          4.35         1.30
75%            6.40         3.30          5.10         1.80
max            7.90         4.40          6.90         2.50

In [16]:
result = scipy.stats.describe(article_read.sepal_length, ddof=1, bias=False)
result

DescribeResult(nobs=150, minmax=(4.3, 7.9), mean=5.843333333333334, variance=0.6856935123042507, skewness=0.3149109566369729, kurtosis=-0.5520640413156395)

In [17]:
result = scipy.stats.describe(article_read.sepal_width, ddof=1, bias=False)
result

DescribeResult(nobs=150, minmax=(2.0, 4.4), mean=3.0573333333333337, variance=0.189979418344519, skewness=0.3189656647135998, kurtosis=0.2282490424681929)

In [18]:
result = scipy.stats.describe(article_read.petal_length, ddof=1, bias=False)
result

DescribeResult(nobs=150, minmax=(1.0, 6.9), mean=3.7580000000000005, variance=3.116277852348993, skewness=-0.2748841797510128, kurtosis=-1.4021034155217516)

In [19]:
result = scipy.stats.describe(article_read.petal_width, ddof=1, bias=False)
result

DescribeResult(nobs=150, minmax=(0.1, 2.5), mean=1.1993333333333336, variance=0.5810062639821029, skewness=-0.1029667476489812, kurtosis=-1.3406039966126455)